<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lead Manager QA Suite" parallel="tests" thread-count="3">

    <test name="UI Tests">
        <classes>
            <class name="com.osmos.qa.tests.ui.CreateLeadE2ETest"/>
        </classes>
    </test>

    <test name="Login API Tests">
        <classes>
            <class name="com.osmos.qa.tests.api.LoginApiTest"/>
        </classes>
    </test>

    <test name="Leads API Tests">
        <classes>
            <class name="com.osmos.qa.tests.api.LeadsApiTest"/>
        </classes>
    </test>

</suite>
